/* #root {
  max-width: 1920px;
  padding: 2rem;
}

span {
  color: blueviolet;
}

.read-the-docs {
  color: #888;
}

header {
  width: 100%;
  padding: 15px 0;
  z-index: 100;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}
 
.headerNamed {
  width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    padding: 0 15px;
    align-items: center;
    align-content: stretch;
    flex-direction: row;
}
.wrapperUserLogin {
  display: flex;
  margin: 0 auto;
} */

